html,
body {
  padding: 0;
  margin: 0;
}
.header-top {
  background: #f5f8fa;
}
.header-top,
.header-middle {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 14px;
}
.flex-flow {
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.flex-align {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
header.header {
  background: #fff;
  border-bottom: 1px solid rgba(12, 28, 39, 0.15);
}
.flex-left {
  margin-right: auto;
}
.flex-right {
  margin-left: auto;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  text-rendering: geometricPrecision;
}
.nav > li {
  padding: 0 7px;
  margin: 5px 0;
}
.header-info ul > li:not(:last-child) {
  border-right: 1px solid rgba(154, 160, 166, 0.3);
}
li {
  text-align: -webkit-match-parent;
}
a,
a:hover {
  text-decoration: none;
  color: #000 !important;
}
a {
  margin: 0;
  padding: 0;
}
.size-18:before {
  width: 14px;
  height: 14px;
}
.hotline-icon:before,
.address-icon:before {
  margin-right: 3px;
}
.hotline-icon:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23888' d='M20 15.5C18.8 15.5 17.5 15.3 16.4 14.9H16.1C15.8 14.9 15.6 15 15.4 15.2L13.2 17.4C10.4 15.9 8 13.6 6.6 10.8L8.8 8.6C9.1 8.3 9.2 7.9 9 7.6C8.7 6.5 8.5 5.2 8.5 4C8.5 3.5 8 3 7.5 3H4C3.5 3 3 3.5 3 4C3 13.4 10.6 21 20 21C20.5 21 21 20.5 21 20V16.5C21 16 20.5 15.5 20 15.5M5 5H6.5C6.6 5.9 6.8 6.8 7 7.6L5.8 8.8C5.4 7.6 5.1 6.3 5 5M19 19C17.7 18.9 16.4 18.6 15.2 18.2L16.4 17C17.2 17.2 18.1 17.4 19 17.4V19M15 12H17A5 5 0 0 0 12 7V9A3 3 0 0 1 15 12M19 12H21C21 7 16.97 3 12 3V5C15.86 5 19 8.13 19 12Z' /%3E%3C/svg%3E");
}
.has-svg-icon:before {
  background-size: 100%;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.address-icon:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23888' d='M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z' /%3E%3C/svg%3E");
}
.navbar-expand-lg .navbar-nav .dropdown-hover:hover .dropdown-menu {
  display: block;
}

.footer {
  background: #f5f8fa;
  position: relative;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 14px;
  line-height: 1.8;
}

.footer,
.footer a {
  color: #212529;
}

[data-page-type="homepage"] .footer {
  border-top: 0;
}

.main-container {
  max-width: 1200px !important;
  margin: 0 auto;
}

.footer li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer .list-ft li > a {
  display: block;
  line-height: 30px;
}

.footer .social.list-cn li:not(last-child) img {
  margin-right: 10px;
}

.text-center {
  text-align: center;
}

.footer-bottom:before {
  content: "";
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  max-width: 100%;
  margin: 0 auto;
  padding-top: 15px;
}

#footer .col-lg-3,
.col-lg-4 {
  width: 25%;
}
.title-group {
  margin-left: 30px;
  font-weight: 500;
}
#myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: lightgreen; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  align-items: center;
  justify-content: center;
  display: flex;
}
#myBtn:hover {
  background-color: green; /* Add a dark-grey background on hover */
}
#page-wrapper {
  position: relative;
  z-index: 23;
  background-color: blue;
  padding-top: 10px;
}
.rating-color {
  color: #fbc634 !important;
}
.max-lines {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2.6em; /* Fallback for non-webkit, line-height * 2 */
  min-height: 2.6em;
  line-height: 1.3em;
  -webkit-line-clamp: 2; /* if you change this, make sure to change the fallback line-height and height */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card a:hover {
  text-decoration: underline;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.3s;
  transform: scale(1.01);
}
.center-item {
  margin: 0 auto;
  display: block;
}
.sidebar {
  background: white;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
